### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
.history
.ionide

.DS_Store
clients/
cover.out
coverage.out
data/
dist/
*.test
/gdns2tcp
/gdns2tcp.exe
/gdns2tcp-client
/gdns2tcp-client.exe
servers/
